@charset "UTF-8";

#body-align {
	width: 50%;
	margin: 0 auto;
	text-align: left;
}
table {
	border:1px solid;
	border-collapse: collapse;
}
td, tr, th {
	border:1px solid;
	padding: 4px 10px;
}
th {
	text-align: center;
	background-color: lightgray;
}
